/* ----------jsPsych styles---------- */

body {
    font-family: "Open Sans", sans-serif;
}

.jspsych-display-element:focus {
    outline: none;
}

ol {
    list-style-position: inside;
    font-weight: bold;
    line-height: 1.75em;
}
li span {
    font-weight: normal;
}

.btn {
    width: 120px;
}

/* survey-text */

.jspsych-survey-text-question-container {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: 3fr auto auto 4fr auto 100px;
    grid-template-areas:
        ". . . ."
        "preamble preamble preamble preamble"
        ". questions answers ."
        ". . . ."
        "button button button button"
        ". . . .";
    width: 100vw;
    height: 100vh;
}

.jspsych-survey-text-preamble {
    grid-area: preamble;
    text-align: center;
    width: 700px;
    margin: auto;
    padding-bottom: 30px;
}

.jspsych-survey-text-question-group {
    grid-area: questions;
    text-align: right;
    padding-right: 10px;
    padding-top: 12px;
}

.jspsych-survey-text-question {
    padding-top: 26px;
}

.jspsych-survey-text-answer-group {
    grid-area: answers;
    justify-self: left;
    padding-left: 10px;
}

.jspsych-comments-task-answer-group {
    grid-area: answers;
    justify-self: center;
}

.jspsych-survey-text-answer {
    padding-top: 35px;
}

.jspsych-survey-text-button {
    grid-area: button;
    text-align: center;
}

/* comments task */

.jspsych-comments-task-container {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: 3fr auto auto auto 4fr auto 100px;
    grid-template-areas:
        ". . . ."
        "stimulus stimulus stimulus stimulus"
        "preamble preamble preamble preamble"
        ". answers answers ."
        ". . . ."
        "button button button button"
        ". . . .";
    width: 100vw;
    height: 100vh;
}

/* instructions & fullscreen */

.jspsych-instructions {
    display: relative;
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 1fr auto 1fr auto 100px;
    grid-template-areas:
        ". . ."
        ". instructions ."
        ". . ."
        ". instructions-nav ."
        ". . .";
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.jspsych-instructions-text {
    text-align: center;
    grid-area: instructions;
    font-size: 16pt;
    line-height: 1.5em;
}

.jspsych-instructions-nav {
    text-align: center;
    grid-area: instructions-nav;
}

@media screen and (max-height: 850px) {
    .jspsych-instructions-nav {
        padding-bottom: 50px;
    }
}

#jspsych-instructions-back {
    margin-right: 100px;
}

#instructions-screenshot {
    padding-top: 75px;
}

/* ----------Bandit styles---------- */

.bandit-grid-container {
    display: grid;
    grid-template-columns: 3fr 500px 2fr 500px 3fr;
    grid-template-rows: 4fr 500px 3fr;
    grid-template-areas:
        ". . . tally tally"
        ". option1 . option2 ."
        ". next next next .";
    width: 100vw;
    height: 100vh;
    line-height: normal;
    background-color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 1000px) {
    .bandit-grid-container {
        grid-template-columns: 0fr 7fr 1fr 7fr 0fr;
        grid-template-rows: 25% 50% 25%;
        grid-template-areas:
            ".tally tally tally ."
            ". option1 . option2 ."
            ". next next next .";
    }
}

.tally {
    grid-area: tally;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    justify-self: right;
    align-self: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 25px;
    margin-right: 15%;
}

#option1 {
    grid-area: option1;
}

#option2 {
    grid-area: option2;
}

.next {
    position: relative;
    grid-area: next;
    justify-self: center;
    align-self: center;
}

.options {
    position: relative;
    align-self: center;
    justify-self: center;
}

.stimuli {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}

.feedback {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 110%;
}

.feedback > p {
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .feedback {
        font-size: 4vw;
    }

    .tally {
        font-size: 4vw;
        padding: 0.5vw 1.5vw;
        border: 2px solid grey;
        border-radius: 1.5vw;
        justify-self: center;
        margin-right: 0px;
    }
}

.chosen {
    opacity: 0.6;
    filter: alpha(opacity=50);
}
.notChosen {
    opacity: 0;
    filter: alpha(opacity=0);
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.05);
    cursor: pointer;
}

/* ----------Questionnaire---------- */

/* .jspsych-content { display: flex; margin: auto; flex: 1 1 100%; height: 100%; width: 100%;} */
#likert-container {
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 500px 2fr 500px 3fr;
    grid-template-rows: 4fr 500px 3fr;
    height: 100vh;
    width: 100vw;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.likert-container-left {
    grid-template-areas:
        ". . likert likert likert"
        ". stimulus likert likert likert"
        ". . likert likert likert";
}

.likert-container-right {
    grid-template-areas:
        "likert likert likert . ."
        "likert likert likert stimulus ."
        "likert likert likert . .";
}

.options {
    grid-area: stimulus;
    margin: auto;
}

#likert-form-container {
    grid-area: likert;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr 50px;
    line-height: normal;
    text-align: center;
    color: black;
}

#jspsych-survey-likert-instructions {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 200px;
    height: 100%;
    margin: auto;
}

#jspsych-survey-likert-instructions-text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 80%;
    margin: auto;
    font-size: 22px;
}

#jspsych-survey-likert-instructions-button {
    visibility: hidden;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: auto;
}

#jspsych-survey-likert-preamble {
    display: none;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 90%;
    max-width: 700px;
    margin: auto auto 10px auto;
    font-size: 22px;
}

#jspsych-survey-likert-form {
    display: none;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 85%;
    width: 90%;
    min-width: 550px;
    max-width: 700px;
    margin: auto;
    padding: 50px 20px;
    background-color: white;
    border: 3px solid #d3d3d3;
    border-radius: 30px;
    overflow-x: hidden;
}

.jspsych-survey-likert-statement {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    margin-bottom: 18px;
    border-top: 1px solid #323232;
}
.jspsych-survey-likert-opts {
    list-style: none;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px, 0px, 0px, 0px;
    display: block;
    font-size: 14px;
    line-height: 1.1em;
}

.jspsych-survey-likert-opt-label {
    line-height: 1.1em;
    padding-top: 10px;
}

.jspsych-survey-likert-opts:before {
    content: "";
    display: block;
    position: relative;
    height: 4px;
    width: 100%;
    top: 8px;
    border-radius: 2px;
    background-color: dimgrey;
}

.jspsych-survey-likert-opts:last-of-type {
    border-bottom: 0;
}

.jspsych-survey-likert-opts li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.jspsych-survey-likert-opts li input[type="radio"] {
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -6px;
}

ul.jspsych-survey-likert-opts {
    padding: 0px;
}

#jspsych-survey-likert-next {
    margin-top: 10px;
}

.simplebar-track {
    margin-right: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.simplebar-scrollbar:before {
    background-color: dimgrey;
}

/* ----------Ellsberg task---------- */

.ellsberg-grid-container {
    display: grid;
    grid-template-columns: 3fr auto 2fr auto 3fr;
    grid-template-rows: 3fr auto 2fr auto 1fr auto 2fr 50px 1fr;
    grid-template-areas:
        ". . . . ."
        ". ellsberg-question ellsberg-question ellsberg-question ."
        ". . . . ."
        ". ellsberg-option-1 . ellsberg-option-2 ."
        ". . . . ."
        ". ellsberg-table-1 . ellsberg-table-2 ."
        ". . . . ."
        ". . ellsberg-submit . ."
        ". . . . .";
    width: 100vw;
    height: 100vh;
    line-height: normal;
    background-color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#ellsberg-question {
    grid-area: ellsberg-question;
    font-size: 15pt;
    line-height: 1.5em;
}

#ellsberg-option-1 {
    grid-area: ellsberg-option-1;
}

#ellsberg-option-2 {
    grid-area: ellsberg-option-2;
}

#ellsberg-table-1 {
    grid-area: ellsberg-table-1;
}

#ellsberg-table-2 {
    grid-area: ellsberg-table-2;
}

#ellsberg-submit {
    grid-area: ellsberg-submit;
}

.tg {
    margin: auto;
    width: 90%;
}
